@media(max-width: 768px){
    
    .nduwur{display:none;}   


    .menu-home,
    .menu-clictoys,
    .menu-playmags,
    .menu-clickbuildingplan,
    .menu-playmagsbuildingplan,
    .menu-aboutclick,
    .menu-aboutplaymags,
    .menu-contest
    {
    width: 97% !important;
    }
    
    .menu-clickbuildingplan a,
    .menu-playmagsbuildingplan a,
    .menu-aboutplaymags a,
    .menu-aboutclick a
    {
        position: relative;
        top: 10px;
    }
    

    .navbar-header
    {
        background-color: #28324e;
        margin-top: 5px;
        
    }
    
    .navbar-brand
    {
        display: normal;
        color: red;
    }
    
    .become
    {
        display: none;
    }
    .icon-img
    {
        position: relative;
        top: 20px;
    }
    
    .thum-right
    {
        margin-top: -40px !important;
    }
     .thum-left
    {
        margin-top: 0px;
    }
    .wslider
    {
        margin-top: -20px;
    }
    
    .buy-left
    {
        position: relative;
        left: 4% !important;
        width: 40%;
        height: 70%;
        font-size:9px;
        padding: 0;
        bottom:65px !important;
    }
    .crossing-buy
    {
        font-size:15px !important;
    }
    .buy-left img , .buy-right img
    {
        width: 20px;
    }
    .buy-right
    {
        position: relative;
        left:52% !important;
        width: 40%;
        height: 70%;
        font-size:9px;
        padding: 0;
        bottom:65px !important;
        
    }
    .thum-right
    {
        margin-top: 0px;
    }
    .content-circle
    {
        padding-left: 0px !important;
    }
    .menu-feature
    {
        margin-top: -40px !important;
    }
     .special
    {
        display: none;
    }
    .product
    {
        margin-top: 10px !important;
    }
    
    .build:after
    {
        content: url(../img/building.png); 
        position: absolute;
        top: 105% !important;
        left: 42% !important;
        z-index: 999;
        transform: rotate(90deg);
    }
  
    .upload:after
    {
        content: url(../img/building.png); 
        position: absolute;
        top: 105% !important;
        left: 42% !important;
        z-index: 999;
        transform: rotate(90deg);
    }
    .picvid
    {
        background-color: white;
        margin: 0;
        padding: 0;
        font-family: myFont;
    }
    .build, .upload, .winner{
        font-size: 12px;
    }
    .olshop
    {
        display: none !important;
    }
    .img-logo
    {
        display: none !important;    
    }
    
    .footer-atas
    {
        padding-left: 10px;
    }
    .scroll
{
    position: absolute !important;
    z-index: 9999;
    top: 0%;
    width: 100%;
    background-color: #efefef;
    display: normal !important;
    opacity: 1;
    box-shadow: 0px 1px 10px #3f3f3f ;
    padding-bottom: 8px;
    left: 0%;
    padding-left: 30px;
}
  
    .search input
    {
        width: 200px !important;
        position: absolute;
        right: 10%;
        top: 20px;
    }
    
}


@media(min-width: 768px){
    
    .thum-left{margin-left: 25px;}
    .thum-right{margin-right: 25px;}
    /*
    .buy-left
    {
        position: relative;
        left: 10% !important;
        width: 38%;
        height: 37px;
        font-size:12px;
        padding: 0;
        bottom:70px !important;
    }
    .crossing-buy
    {
        font-size:20px !important;
    }
    .buy-left img , .buy-right img
    {
        width:30px;
    }
    .buy-right
    {
        position: relative;
        left:48% !important;
        width: 40%;
        height: 37px;
        font-size:12px;
        padding: 0;
        bottom:70px !important;
        
    }
    */
  
}

@media(max-width: 970px){
    
     .content-circle
    {
        padding-left: 0px !important;
    }
    .special
    {
        display: none;
    }
   .product
    {
        margin-top: 10px !important;
    }
}
    
@font-face {
    font-family: myFont;
    src: url(../fonts/texgyreheros-regular.otf);
}


.navbar-brand
    {
        display: none;
        color: red;
    }
    
.menu-home,
.menu-clictoys,
.menu-playmags,
.menu-clickbuildingplan,
.menu-playmagsbuildingplan,
.menu-aboutclick,
.menu-contest,
.menu-aboutplaymags

{
    height: 70px; 
    width: 126px;
    border-radius: 10px;
    margin:  6px; 
    font-size: 14px;
}
.menu-home:hover,
.menu-clictoys:hover,
.menu-playmags:hover,
.menu-clickbuildingplan:hover,
.menu-playmagsbuildingplan:hover,
.menu-aboutclick:hover,
.menu-aboutplaymags:hover,
.menu-contest:hover
{
    background-color: #fff;
}
.menu-home
{
        background-color: #f52657;
        border: 1px solid #f52657;
}

.menu-clictoys
{
    background-color: #f96a3c; 
    border: 1px solid #f96a3c;
}
.menu-playmags
{
    background-color: #f9c234; 
    border: 1px solid #f9c234;
}
.menu-clickbuildingplan
{
    background-color: #2ece55; 
    border: 1px solid #2ece55;
}
.menu-playmagsbuildingplan
{
    background-color: #57c5f2;
    border: 1px solid #57c5f2;
}
.menu-aboutclick
{
    background-color: #b767ec;
    border: 1px solid #b767ec;
}
.menu-aboutplaymags
{
    background-color:#aeb0b1; 
    border: 1px solid #aeb0b1;
}
.menu-contest
{
    background-color: #6096fc;
    border: 1px solid #6096fc;
}

.menu-home a,
.menu-clictoys a,
.menu-playmags a,
.menu-clickbuildingplan a,
.menu-playmagsbuildingplan a,
.menu-aboutclick a,
.menu-contest a,
.menu-aboutplaymags a
{
    height: 68px;
    color: white;
    font-weight: bold;
    font-family: myFont; 
  
}
.menu-home a,
.menu-clictoys a,
.menu-playmags a,
.menu-contest a
{
    position: relative;
    top: 10px;
}
.menu-clickbuildingplan a,
.menu-playmagsbuildingplan a
{
    position: relative;
    bottom: 5px;
    font-size: 11px;
}


.menu-home a:hover,
.menu-clictoys a:hover,
.menu-playmags a:hover,
.menu-clickbuildingplan a:hover,
.menu-playmagsbuildingplan a:hover,
.menu-aboutclick a:hover,
.menu-aboutplaymags a:hover,
.menu-contest a:hover
{
    background-color: transparent !important; 
    border-radius: 5px;
}



.menu-home a:hover
{
    color: #f52657;
}
.menu-clictoys a:hover
{
    color: #f96a3c;
}
.menu-playmags a:hover
{
    color: #f9c234;
}
.menu-clickbuildingplan a:hover
{
    color: #2ece55;
}
.menu-playmagsbuildingplan a:hover
{
    color: #57c5f2;
}
.menu-aboutclick a:hover
{
    color: #b767ec;
}
.menu-aboutplaymags a:hover
{
    color: #aeb0b1;
}
.menu-contest a:hover
{
    color: #6096fc;
}

.navbar-toggle{
    background: url('../img/icon-toggle.png') no-repeat center  !important;
    background-color: yellow; 
 
}

.nav-logo a
{
    text-decoration: none;
}

.thum-left , .thum-right
{
    border:2px solid #28324E;
    background-color: whitesmoke;
 
}

.menu-midle
{
    text-align: center;
    margin-bottom: 20px;
}
.menu-midle a
{
    font-family: myFont;
    font-size: 25px;
    text-decoration: none;
}


.wslider
    {
        margin-bottom: 20px;
    }
.ws_playpause, .ws_pause
{
    display: none;
}

.buy-left
{
    background-color: #de142c;
    color: white;
    position: relative;
    bottom: 105px;
    left: 65px;
}
.buy-right
{
    background-color: #de142c;
    color: white;
    position: relative;
    bottom: 105px;
    left: 300px;
}
.buy-right:hover, .buy-left:hover
{
    color: #fff;
    background-color: #BF1428;
}
.crossing-buy
    {
        font-size: 20px;
    }
.content-circle
{
    text-align: center;
    font-family: myFont;
    padding-left: 80px;
}

.build, .winner, .upload
{
    border-radius:50%;
    padding: 30px;

}
.build
{
    border: 2px solid #f52657;
    color: #f52657;
}

  .build:hover
    {
        transition: 0.5s all ease-in-out;
        box-shadow: 0px 0px 10px #f52657;
    }
    .build:hover h1
{
    transition: 0.5s all ease-in-out;
    text-shadow: 0 5px 5px #f52657;
    font-weight: bold;
    transform: scale(1.1);
}
.build:after
{
    content: url(../img/building.png); 
    position: absolute;
    left: 85%;
    bottom: 45%;
    z-index: 999;
    
}

.upload
{
    border: 2px solid #95e1ad;
    color: #95e1ad;
}
.upload:hover
{
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 10px #95e1ad;
}

.upload:hover h1
{
    transition: 0.5s all ease-in-out;
    text-shadow: 0 5px 5px #95e1ad;
    font-weight: bold;
    transform: scale(1.1);
}
.upload:after
{
    content: url(../img/building2.png); 
    position: absolute;
    left: 85%;
    bottom: 45%;
    z-index: 999;
    
}

.winner
{
    border: 2px solid #f9c235;
    color: #f9c235;
}

.winner:hover
{
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 10px #f9c235;
}
.winner:hover h1
{
    transition: 0.5s all ease-in-out;
    text-shadow: 0 5px 5px #f9c235;
    font-weight: bold;
    transform: scale(1.1);
}
.menu-feature
{
    margin-top: -60px;
}
.product
{
    margin-top: -60px;
}
.special
{
    position: relative;
    left: 90%;
    z-index: 99;
}

.new
{
    background-color: green;
    padding: 5px 5px;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    left: 30px;
    top: 10px;
    color: white;
    font-family: myFont;
}
.picvid
    {
        background-color: white;
        margin:auto; 
        margin-bottom: 20px;
        padding: 10px;
        font-family: myFont;
    }
.picvid-text
{
    text-align: center !important;
}

.picvid-icon
{
    padding: 0 !important;  
    transition: 1s all ease-in-out;  
    position: relative;
}
.picvid-icon:hover
{
    top: 5px;
}
.about-logo
{
    margin: 0 auto;
}

.bplan p
{
    text-indent: 50px;
    text-align: justify;
    font-size: 16px;
}

.sow
{
    display: block !important;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 5s;
}


.scroll
{
    position: fixed;
    z-index: 9999;
    top: 0%;
    width: 100%;
    background-color: #efefef;
    display: normal !important;
    opacity: 1;
    box-shadow: 0px 1px 10px #3f3f3f ;
    padding-bottom: 8px;
    left: 0%;
    padding-left: 30px;
}

/* hover produk effek */
.product-thumnail, .product-thumnail2
{
    overflow: hidden;
    border: 3px solid #39476c;
    background-color: #fff;
    color: #39476c;
    transition: 0.5s ease-in-out all;
}

.product-thumnail:hover
{
    border: 3px solid #39476c;
    background-color: #39476c;
    color: #fff;
}
.product-thumnail2:hover
{
    overflow: hidden;
    border: 3px solid rgb(245, 201, 28);
    background-color: rgb(245, 201, 28);
    color: #fff;
}
.product-thumnail:hover .product-hov, .product-thumnail2:hover .product-hov {
    display: block;
}
.product-thumnail2:hover .product-box
{
    border: 1px solid rgb(245, 201, 28);
}
.product-hov
{
    transition: 0.5s ease-in-out all;
    display: none;
    text-align: center;
    background-color: white;
    position: absolute;
    z-index: 999;
    margin-left: 5px;
    top: 40%;
    color: #39476c;
}
.product-img
{
    margin: 20px 0 0 20px;
}
.price
{
    font-size: 25px; 
    text-align: center;
  
}
.product-box
{
    border: 1px solid #39476c;
    text-align: center;
    padding:5px 27px 5px 5px ;
    background-color: white;
}
.product-star
{
    text-align: center;
    margin: 5px 0;
}
.product-rate
{
     text-align: center;
     margin: 5px 0;
    
}
.thum-left, .thum-right, .b-left , .b-right{
    display: none;
}


.about, .build , .upload, .winner, .picvid, .product, .hd-upload
{
    display: none;
}

.thewinner
{
    display: none;
}

.olshop
{
    position: relative;
    top: 10px;
    right: 100px;  
}

.sign-up
{
    text-align: center;
}
.sign-up a
{
    text-decoration: none;
}

#upload-file-container {
   background: url(../img/photo.png) center no-repeat;
}

#upload-file-container input {
    position: relative;
   filter: alpha(opacity=0);
   opacity: 0;
   height: 240px;
}
.cart
{
    background-color: #EFEFEF;
    text-align: justify;
}
.cart a
{
    text-decoration: none;
}
.cart table
{
    border-radius: 10px;
}
.cart tr
{
    background-color: #fff;
}
.profile_image {
width:30%;
  float:left;
  margin-right:3%
}

.total_div {
    overflow: hidden;
}
.profile_title {
    width: 45%;
	font-size:15px;
	font-weight:bold;
    float: left;
}
.profile_value {
	font-size:15px;
	width: 52%;
	float: left;
}
.profile_description {
	width:60%;
    overflow: hidden;
}